body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366;
    color: white;
    padding: 25px;
}

h1 {
    margin: 0;
}

section {
    margin-top: 40px;
    font-size: 18px;
}

a {
    color: #003366;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
